div.asmr18 {display: none !important;}
div.pc-ads-01 {display: none !important;}
div.pc-ads-02 {display: none !important;}
div.sp-ads-01 {display: none !important;}
div.sp-ads-02 {display: none !important;}